{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="mainContainer">
        <div id="visualContainer">
            <div id="taskContainer">
                <table>
                    <tr id="taskHeader">
                        <td>Task Name</td>
                        <td>When Added</td>
                        <td>Status</td>
                        <td colspan="2">Action</td>
                    </tr>
                    {% for todo in todos %}
                    
                        <tr>
                            {% if todo.status == "done" %}
                            <td class="done">{{todo.task_name}}</td>
                            <td class="done"><span class="local-date-format">{{todo.when_added}}</span></td>
                            <td class="done">{{todo.status}}</td>
                            <td colspan="2" class="done">None</td>
                            {% elif todo.status|lower == "did not do"%}
                            <td class="did-not-do">{{todo.task_name}}</td>
                            <td class="did-not-do"><span class="local-date-format">{{todo.when_added}}</span></td>
                            <td class="did-not-do">{{todo.status}}</td>
                            <td colspan="2"  class="did-not-do">None</td>
                            {% else %}
                            <td>{{todo.task_name}}</td>
                            <td><span class="local-date-format">{{todo.when_added}}</span></td>
                            <td>{{todo.status}}</td>
                            <td><a href="{% url 'update-todo' todo.id %}">Edit</a></td>
                            <td><a href="{% url 'delete-todo' todo.id %}">Delete</a></td>
                            {% endif %}
                            
                        </tr>
                    
                    {% endfor %}
                </table>
            </div>
            <div id="calendarContainer">
                <div id="calendar"></div>
            </div>
        </div>
        <div id="addTaskContainer">
            <form action="{% url 'create-todo' %}" method="post">
                {% csrf_token %}
                
                {{form.task_name.label}}
                {{form.task_name}}
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>