{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% for todo in todos %}
        <p>Task Name: {{todo.task_name}}</p>
        <p>When Added: <span class="local-date-format">{{todo.when_added}}</span></p>
        <p>Status: {{todo.status}}</p>
        <p><a href="{% url 'update-todo' todo.id %}">Edit</a></p>
        <p><a href="{% url 'delete-todo' todo.id %}">Delete</a></p>
    {% endfor %}
    <form action="{% url 'create-todo' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <div id="calendar"></div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>