<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.id }}
        {{ form.task_name.label }}
        {{ form.task_name }}
        {{ form.status.label }}
        {{ form.status }}
        <input type="submit" value="Save">
    </form>      
</body>
</html>