body{
  padding: 0;
  margin: 0;
  background: #00000026;
}
#mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
}
#calendar {
  font-family: Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  cursor: pointer;
}

td#one {
  background: #c4fc9e; 
}
td#today {
  background: #5050504f;
}

.done{
  color: green;
  text-decoration: line-through;
  cursor: not-allowed;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.month-header {
  background: slategray;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #a9a9a9;
}
#yearContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20%;
  border: 1px solid #ddd;
  margin: 20px 0;
  background: slategray;
  font-weight: bold;
}
#taskHeader {
  background: slategray;
  font-weight: bold;
}

.did-not-do{
  color: rgb(138, 22, 22);
  text-decoration: line-through;
  cursor: not-allowed;
}
.weekdays{
  background: #708090a6;
}
.task-level-one{
  background: rgb(100 255 0 / 25%);
}
.task-level-two{
  background: rgb(100 255 0 / 50%);
}
.task-level-three{
  background: rgb(100 255 0 / 75%);
}
.task-level-four{
  background: rgb(100 255 0);
}