#mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
}
#calendar {
  font-family: Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  cursor: pointer;
}

td#one {
  background: #e68080;
}
td#today {
    background: #5050504f;
}

.done{
  color: green;
  text-decoration: line-through;
  cursor: not-allowed;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}
#yearContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20%;
  border: 1px solid #ddd;
  background: #f2f2f2;
  margin: 20px 0;
}
#taskHeader{
  background: #c9eefe;
}

.did-not-do{
  color: rgb(138, 22, 22);
  text-decoration: line-through;
  cursor: not-allowed;
}